<h1>Lista de livros</h1>

<table id="table">
  <thead>
    <tr>
      <th>LivroId</th>
      <th>Autor</th>
      <th>Total de Páginas</th>
      <th>Título</th>
      <th>Descrição</th>
      <th>Estoque</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let livro of livros">
      <td>{{ livro.livroId }}</td>
      <td>{{ livro.autor }}</td>
      <td>{{ livro.totalPaginas }}</td>
      <td>{{ livro.titulo }}</td>
      <td>{{ livro.descricao }}</td>
      <td>{{ livro.estoque }}</td>
      <td><button (click)="emprestimo(livro)">Realizar Empréstimo</button></td>
      <td><button (click)="devolver(livro)">Devolver Empréstimo</button></td>
    </tr>
  </tbody>
</table>
